body {
    font-family: Sofia, sans-serif;
    background-color: blueviolet;
}

h1{
    margin-top: 20px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: darkblue;
    font-size: 18px;
}

#p1{
    padding: 10px;
    border: 2px solid brown;
}

button{
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

#buscador{
    padding: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#nombre{
    padding: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#desc{
    padding: 5px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer{
    background-color: aquamarine;
    color: black;
    padding: 20px;
    text-align: center;
}

header{
    background-color: aquamarine;
    color: black;
    padding: 50px;
    text-align: center;
}

nav{
    background-color: black;
    color: white;
    list-style: none;
}

@media screen and (min-width: 768px) {
    body {
        background-color: green;
    }   
}

@media screen and (min-width: 1280px) {
    body {
        background-color: violet;
    }
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.container3 {
    display: flex;
    flex-direction: column-reverse;
}

.container4 {
    display: flex;
    flex-direction: row-reverse;
}

.container-large {
    display: flex;
    flex-direction: column;
}

.container-small {
    display: flex;
    flex-direction: row;
}